h1,h2,p
{
    font-family: 'Chakra Petch', sans-serif;
    color: #074785;
}



.cadre
{
    /* background-color: #fde590; */
    background-color: white;
    /* border: #074785 6px;
    border-style: solid; */
    height: 90%;
    width: 95%;
    border-radius: 20px;
}

.fond
{
    height: 100vh;
    /* background-color: #7befe5; */
    /* background-color: #fd6085; */
    /* background-image: url(../image/pixil-frame-1.png);
    object-fit: cover;
    background-size:  auto;
    background-repeat: repeat; */
    background-image: repeating-linear-gradient(45deg, #ffa4ac 0, #ffa4ac 8px, transparent 0, transparent 50%);
    background-size: 59px 59px;
    background-color: #fd6085;
}


.vignette
{
    object-fit: cover;
    max-width: 150px;
    animation-name: osciller0;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform: rotate(0deg); 
    
}

@keyframes osciller0 {
    from{max-width: 150px;}to{max-width: 200px;};
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}

.img-animate{
    object-fit: cover;
    max-width: 150px;
    transform: rotate(0deg);
    animation-name: osciller1;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform: rotate(0deg); 
}


@keyframes osciller1 {
    from{max-width: 150px;}to{max-width: 200px;};
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}  
}


/*Deuxième section, qui arrive après l'animation*/

.mini{
    width: 100px;
    animation: 0s 1s forwards apparaitre1;
}

#commencer,.retour
{
    background-color: #074785;
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    border: 0;
    padding: 10px 20px;
    border-radius: 7px;
}

button:hover{
    background-color: #29aefd!important;
    box-shadow: 2px 2px 20px rgb(196, 196, 196);
}

.consignes
{   
    display: none;
}

.apparaitre-animation0
{
    opacity: 0;
    animation-name: apparaitre;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.apparaitre-animation
{
    opacity: 0;
    animation-name: apparaitre;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.disparaitre-animation
{
    opacity: 1;
    animation-name: disparaitre;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: forwards; 
}


@keyframes apparaitre{
    from{opacity: 0;}to{opacity: 1;};
}

@keyframes disparaitre {
    from{opacity: 1;}to{opacity: 0;};
}

/*Point*/

/* .points
{
    position: relative;
} */

/*Questions*/

.quizz-questions button{
    background-color: #074785;
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem; 
    border: 0;
    padding: 10px;
    width: 90%;
    border-radius: 7px;
}


.quizz-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.divbuttons
{
    width: 100%;
}



/*Section de fin*/

.end
{
    display: none;
}


.grow
{
    animation-name : growing;
    animation-duration : 0.5s;
    animation-fill-mode: forwards;
    font-size: 1rem;
}

@keyframes growing {
    from{font-size: 1rem;}to{font-size: 1.5rem};
}



/*Media queries*/

@media only screen and (max-width: 767px) {
    .quizz-questions button{
        font-size: 1rem; 
        padding: 9px;
        width: 90%;   
        }

    .vignette,.img-animate{
        max-width: 50px;
    }

    @keyframes osciller1 {
        from{max-width: 50px;}to{max-width: 100px;}; 
        0%{transform: rotate(0deg);}
        25%{transform: rotate(10deg);}
        75%{transform: rotate(-10deg);}
        100%{transform: rotate(0deg);}  
    }

    @keyframes osciller0 {
        from{max-width: 50px;}to{max-width: 100px;};
        0%{transform: rotate(0deg);}
        25%{transform: rotate(10deg);}
        75%{transform: rotate(-10deg);}
        100%{transform: rotate(0deg);} 
    }

    h2{
        font-size: 1.2rem;
    }
}