/*Section générale*/

h1,h2,p
{
    font-family: 'Chakra Petch', sans-serif;
    color: #074785;
}

.cadre
{
    background-color: white;
    height: 90%;
    width: 95%;
    border-radius: 20px;
}

.fond
{
    height: 100vh;
    background-image: repeating-linear-gradient(45deg, #ffa4ac 0, #ffa4ac 8px, transparent 0, transparent 50%);
    background-size: 59px 59px;
    background-color: #fd6085;
}

/*Première section, d'accueil, avec l'animation*/

.vignette
{
    object-fit: cover;
    max-width: 150px;
    animation-name: osciller0;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform: rotate(0deg); 
}

@keyframes osciller0 {
    from{max-width: 150px;}to{max-width: 200px;};
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}

/*Deuxième section, qui arrive après l'animation*/

.mini{
    width: 100px;
}

#commencer,.retour
{
    background-color: #074785;
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem;
    border: 0;
    padding: 10px 20px;
    border-radius: 7px;
}

@media(hover: hover) and (pointer: fine) {
   button:hover{
        background-color: #29aefd!important;
        box-shadow: 2px 2px 20px rgb(196, 196, 196);
    }
}

.consignes
{   
    display: none;
}

.text-consignes{
    width: 50%;
}

.apparaitre-animation0
{
    opacity: 0;
    animation-name: apparaitre;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes apparaitre{
    from{opacity: 0;}to{opacity: 1;};
}

/*Gestion des points*/

.section-points
{
    display: none;
}

.points
{
  height: 10%;  
} 

.compteurs p
{
    margin-bottom: 0;
    margin-top: 0;
}

.grow
{
    animation-name : growing;
    animation-duration : 0.5s;
    animation-fill-mode: forwards;
    font-size: 0.7rem;
}

@keyframes growing {
    from{font-size: 0.7rem;}to{font-size: 1rem};
}

/*Gestion de la section questions*/

.apparaitre-animation
{
    opacity: 0;
    animation-name: apparaitre;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.img-animate{
    object-fit: cover;
    max-width: 120px;
    transform: rotate(0deg);
    animation-name: osciller1;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform: rotate(0deg); 
}

@keyframes osciller1 {
    from{max-width: 120px;}to{max-width: 170px;};
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    75%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}  
}

.quizz-questions button{
    background-color: #074785;
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2rem; 
    border: 0;
    padding: 10px;
    width: 90%;
    border-radius: 7px;
}

.quizz-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.divbuttons
{
    width: 100%;
}

/*Section de fin*/

.end
{
    display: none;
}

/*Media queries*/

@media only screen and (max-width: 767px) {
    .quizz-questions button{
        font-size: 1rem; 
        padding: 9px;
        width: 90%;   
        }

    .vignette,.img-animate{
        max-width: 50px;
    }

    @keyframes osciller1 {
        from{max-width: 50px;}to{max-width: 100px;}; 
        0%{transform: rotate(0deg);}
        25%{transform: rotate(10deg);}
        75%{transform: rotate(-10deg);}
        100%{transform: rotate(0deg);}  
    }

    @keyframes osciller0 {
        from{max-width: 50px;}to{max-width: 100px;};
        0%{transform: rotate(0deg);}
        25%{transform: rotate(10deg);}
        75%{transform: rotate(-10deg);}
        100%{transform: rotate(0deg);} 
    }

    h2{
        font-size: 1.2rem;
    }

    .text-consignes{
        width: 100%;
    }
}